@import '@/styles';

.app-header {
  @include flex(flex-start);
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0 16px;
  h1 {
    margin-bottom: 0;
    margin-left: 1em;
  }
}
